@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist", sans-serif;
}

body{
    background-color: #EEF4FF;
}

/* desh board */
.desh-board{
    width: 75%;
    margin: 20px auto;

}

.desh-board h1{
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 700;
}

.desh-card-container{
    display: flex;
    gap: 1rem;
}

.desh-card{
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    flex-grow: 1;
}

.desh-card p{
    margin-bottom: 0.5rem;
    color: #64748B;
}

.desh-card h5{
    font-weight: 700;
    font-size: 1.5rem;
}

/* Available Section */
#available-jobs{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#available-jobs h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #002C5C;
}

#available-jobs p{
    color: #64748B;
}

.btn-section{
    margin: 20px auto;
    width: 75%;
}



.btn{
    width: 80px;
    color: #64748B;
    padding: 10px 13.5px;
    border-radius: 5px;
    border: none;
    background-color: white;
    margin-right: 0.5rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-section .blue{
    color: white;
    background-color: #3B82F6;
}


/* NO Job section */
.no-job-container{
    background-color: white;
    width: 75%;
    margin:  20px auto;
    border-radius: 10px;
    text-align: center;
}

.no-job{
    width: 60%;
    margin: 0 auto;
    padding: 70px 0;
}

.no-job h2{
    color: #002C5C;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 5px;
}

.no-job p{
    color: #64748B;
}

.none{
    display: none;
}