*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EEF4FF;
}

.btn-section{
    margin: 20px auto;
    width: 75%;
}



.btn{
    width: 80px;
    color: #64748B;
    padding: 10px 13.5px;
    border-radius: 5px;
    border: none;
    background-color: white;
    margin-right: 0.5rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-section .blue{
    color: white;
    background-color: #3B82F6;
}